/* colors */
:root{
    --bgColor: #E8BCB9;
    --darkPurple: #432E54;
    --lightPurple: #4B4376;
    --pink: #AE445A;
}
@font-face {
    font-family: 'WizardFont';
    src: url("./Bokor/Bokor-Regular.ttf");
}
@font-face {
    font-family: 'Metamorphous';
    src: url("./Metamorphous/Metamorphous-Regular.ttf");
}

html{
    background-color: var(--bgColor);
}

body{
    margin: 10px;
    background-color: var(--bgColor);
    font-family: 'WizardFont';
    color: var(--darkPurple);
    cursor: url(sword/frame0.png), auto ;
    animation: cursor 800ms infinite;
}

@keyframes cursor{
    0% {cursor: url(cursors/sword/frame0.png), auto ;}
    20% {cursor: url(cursors/sword/frame1.png), auto ;}
    40% {cursor: url(cursors/sword/frame2.png), auto ;}
    60% {cursor: url(cursors/sword/frame3.png), auto ;}
    80% {cursor: url(cursors/sword/frame4.png), auto ;}
    100% {cursor: url(cursors/sword/frame5.png), auto ;}
}

@keyframes skull{
    0% {cursor: url(cursors/skull/frame1.png), auto ;}
    20% {cursor: url(cursors/skull/frame2.png), auto ;}
    40% {cursor: url(cursors/skull/frame3.png), auto ;}
    60% {cursor: url(cursors/skull/frame4.png), auto ;}
    80% {cursor: url(cursors/skull/frame5.png), auto ;}
    100% {cursor: url(cursors/skull/frame6.png), auto ;}
}

@keyframes electric{
    0% {cursor: url(cursors/electric/frame.png), auto ;}
    25% {cursor: url(cursors/electric/frame2.png), auto ;}
    75% {cursor: url(cursors/electric/frame3.png), auto ;}
    100% {cursor: url(cursors/electric/frame4.png), auto ;}
}


a:hover{
    cursor: url(cursors/sword/frame0.png), auto ;
    animation: cursor 800ms infinite;
}

button:hover{
    cursor: url(cursors/sword/frame0.png), auto ;
    animation: cursor 800ms infinite;
}

select:hover{
    cursor: url(cursors/sword/frame0.png), auto ;
    animation: cursor 800ms infinite;
}

.buy-button:hover{
    cursor: url(cursors/electric/frame.png), auto ;
    animation: electric 350ms infinite;

}

.navbar-custom{
    background-color: var(--darkPurple);
    color: var(--pink);
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
    color: var(--pink);
}
.navbar-brand{
    font-family: 'WizardFont';
}
.nav-link{
    font-family: 'WizardFont';
}
.grid-container{
    background-color: var(--bgColor);
}

.card{
    background-color: var(--lightPurple)!important;
    border-color: var(--bgColor)!important;
    border-radius: 10px!important;
    color: var(--pink)!important;
}

.card .card-link{
    color: var(--pink);
    font-size: 140%;
}

.btn-custom{
    background-color: var(--pink)!important;
    font-family: 'WizardFont';
}

.itemName{
    font-family: 'Metamorphous';
    color: var(--pink);
    font-size: large;
}
.itemName:hover{
    color: var(--bgColor);
}

.cartSection{
    font-family: 'Metamorphous';
}

/* grid functionality */
.grid-container{
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 5%;
}

.itemDisplay{
    background-color: var(--bgColor);
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    font-family: 'WizardFont';
    color: var(--darkPurple);
}



.cartContainer{
    display: flex;
    flex-direction: column;

    background-color: var(--darkPurple);
    border: solid;
    border-color: var(--darkPurple);
    border-radius: 5px;
}

.itemName{
    font-family: 'Metamorphous';
    color: var(--pink);
    font-size: large;
}
.itemName:hover{
    color: var(--bgColor);

}

#sortSelectorContainer{
    background-color: var(--bgColor);
}

#cartItem{
    background-color: var(--darkPurple);
    color: var(--pink);
    display: grid;

    border-bottom: 1px solid var(--lightPurple);
    margin-top: 4px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

}

#thumbnailImage{
    width: 25%;
}

#itemDeleteButton{
    background-color: var(--darkPurple);
    color: var(--pink);
}

#itemIncreaseQuantityButton{
    background-color: var(--darkPurple);
    color: var(--pink);
}

#itemDecreaseQuanitityButton{
    background-color: var(--darkPurple);
    color: var(--pink);
}

#itemInfo{
    display: grid;
    justify-content: space-between;
}

.wishlistContainer{
    display: flex;
    flex-direction: column;

    background-color: var(--bgColor);
    border: solid;
    border-color: var(--darkPurple);
    border-width: 5px;
}

#wishlistItem{
    background-color: var(--bgColor);
    display: grid;


    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.normal-bg{
    background-color: var(--bgColor) !important;
}

.cart-title{
    font-family: 'WizardFont';
    color: var(--darkPurple);
    font-size: 80px;
}

.cart-item-image{
    width: 250px;
    height: 100px;
    border-radius: 1%;
}

.cart-total-container{
    font-family: 'WizardFont';
    background-color: var(--darkPurple);
    color: var(--pink);
    vertical-align: top;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 64px;
    border-radius: 2px;
}

.checkout-button{
    color: var(--darkPurple) !important;
}

.infoInput{
    background-color:  var(--bgColor);
}

.paymentInput{
    background-color: var(--bgColor);
}
.checkout-box{
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
}

.totalDisplay{
    background-color: var(--bgColor);
}